<div class="container">
  <div class="container__elements">
      <h1>Choose your Pokemon!</h1>
      <div class="leftButton">
      <app-button (buttonClickEvent)="getPokemon()"></app-button></div>
      <div class="leftPokemon">
      <app-pokemon *ngIf="pokemon" [pokemon]="pokemon"></app-pokemon></div>

      <div class="battleButton">
      <app-button2 (buttonClickEvent)="battlePokemon()"></app-button2></div>
      </div>
      <div class="rightButton">
      <app-button (buttonClickEvent)="getPokemon2()"></app-button></div>
      <div class="winner">
      <p><strong>Winner: {{winner}}</strong></p>
      </div>
      <div class="rightPokemon">
      <app-pokemon *ngIf="pokemon" [pokemon]="pokemon2"></app-pokemon>

<router-outlet></router-outlet>